:root {
    --dark-background-color: #1f2937;
    --main-text-color: #f9faf8;
    --secondary-text-color: #e5e7eb;
    --action-color: #3882f6;
    --quote-background-color: #e5e7eb;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: "Poppins", sans-serif;
}


header{
    background-color: var(--dark-background-color);
    display: flex;
    padding: 30px;
    align-items: center;
    justify-content: center;
    height: 20px;

}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 120vh;
}

.header-left {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bolder;
}

ul {
    list-style-type: none;
    display: flex;
}

a {
    text-decoration: none;
    margin-left: 20px;
    font-size: 18px;
    color: var(--secondary-text-color);
}

.top-div{
    background-color: var(--dark-background-color);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45vh;
    
}

.top-text{
    width: 50%;
}


.top-text h2{
    font-size: 48px;
    color: var(--main-text-color);
    margin: 0;
    
}

.top-text p {
    font-size: 18px;
    color: var(--main-text-color);
    margin-top: 0;
    flex-wrap: wrap;
    flex-grow: 1;

}

.top-text button {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border: 0;
    color: var(--secondary-text-color);
    background-color: var(--action-color);
    font-size: 16px;
    border-radius: 8px;
}

.top-img{
    width: 50%;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
}

.info-div{
    display: flex;
    justify-content: center;
    height: 50vh;
}

.card{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 200px;
}

.card p {
    text-align: center;
}

.card-img {
    width: 200px;
    height: 200px;
    border: 2px solid var(--action-color);
    border-radius: 8px;
}

.quote-div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: var(--quote-background-color);
    height: 45vh;
}

.quote-text {
    padding: 0;
    font-size: 26px;
    font-weight: 200;
    font-style: italic;
    color: #1f2937;
}

.quote-reff{
    display: flex;
    justify-content: flex-end;
    font-size: 18px;
    font-weight: bold;
}

.bottom-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35vh;
}

.product-placement {
    background-color: var(--action-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 100%;
    border-radius: 6px ;
}

.bottom-text {
    padding: 20px;
    margin-left: 70px;
}

.bottom-text h3 {
    margin: 0;
}

.bottom-text p{
    margin: 0;
}

.bottom-btn button {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border: 2px solid var(--secondary-text-color);
    color: var(--secondary-text-color);
    background-color: var(--action-color);
    font-size: 16px;
    border-radius: 8px;
    margin-right: 70px;
}

footer {
    height: 5vh;
    padding: 10px;
    display: flex;
    background-color: var(--dark-background-color);
    justify-content: center;
    align-items: center;
}

.footer-text{
    display: flex;
    justify-content:center ;
    align-items: center;
    color: var(--secondary-text-color);
}