:root {
    --dark-background-color: #1f2937;
    --main-text-color: #f9faf8;
    --secondary-text-color: #e5e7eb;
    --button-color: #3882f6;
    --quote-background-color: #e5e7eb;
}

body {
    height: 100%;
    width: 100%;
}

